.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* universal styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #616161;
  --secondary-color: #84b4b3;
  --tertiary-color: #edf0f0;
  --p-text: #d9dfdf;
  --nav-color: #8f8f8f;
  --contact-color: #424242;
  --contact-color-shadow: #2b2b2b;
  --nav-shadow-color: rgba(131, 131, 131, 0.5);
  --nav-shadow-hover: rgba(82, 82, 82, 0.5);
}

.body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--tertiary-color);
  box-shadow: inset 0 0 20px var(--nav-color);
}

/* header/navigation style start */
header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  top: 0;
}

header h4 {
  display: flex;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 0 0 5px 0;
  width: 100%;
  padding-top: 50px;
}

.navButton {
  text-shadow: 0 0 5px var(--nav-shadow-color);
  transform: rotate(-0.02turn);
  transition: 0.3s;
  font-size: 4.5vw;
}

.navButton:hover {
  transform: rotate(-0.01turn);
  text-shadow: 0 0 10px var(--nav-shadow-hover);
}

.nav1:hover {
  transform: rotate(-0.02turn);
  text-shadow: 0 0 10px var(--nav-shadow-hover);
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 0 15px 0 15px;
}

.logo a {
  display: flex;
  justify-content: space-around;
}

.logo img {
  display: flex;
  width: 80%;
  border-bottom: 2px solid;
  border-color: var(--nav-color);
}

/* Header/navigation style end */

/* Home page style start */

.home-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.home-img img {
  width: 100%;
}

/* Home page stle end.

/* About me style start */

.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5px;
  padding-left: 5%;
  margin-left: 5%;
  border-left: 2px solid;
  border-color: var(--nav-color);
}

.bio-img {
  width: 90%;
  display: flex;
}

.bio-img img {
  width: 100%;
}

.bio-text {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin: 0 auto 0 auto;
  border-radius: 0 0 5px 5px;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bio h3 {
  font-size: 26px;
  padding-bottom: 5px;
  border-bottom: 2px solid;
  border-color: var(--nav-color);
  text-align: center;
}

.bio p {
  padding-top: 7px;
  line-height: 1;
  font-size: 20px;
  color: var(--p-text);
}

/* About me style end */

/* Contact style start */

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0 50px 0;
}

.contact-form {
  width: 100%;
  margin: auto;
  border-radius: 0 0 5px 5px;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#contact-form {
  margin: auto;
}

.form-el {
  margin: 10px auto 10px auto;
}

/* Contact style end */

/* projects style start */

.project-card {
  width: 18rem;
  background-color: var(--primary-color);
  padding: 10px;
  margin: 5px;
}

.card-body a {
  margin: 5px;
}

.project-img {
  max-height: 120px;
  overflow: hidden;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--nav-color);
  padding: 20px 10px 20px 10px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 20px var(--primary-color);
}


/* projects style end */

/* contact me style start */
.footer-section {
  background-color: var(--contact-color);
  box-shadow: inset 0 0 20px var(--contact-color-shadow);
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  padding: 0px;
}

.footer-section h3 {
  font-size: 24px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer-section address {
  margin: 20px auto 15px auto;
  text-align: left;
  font-style: normal;
  line-height: 1.5;
}

.footer-section a {
  color: var(--tertiary-color);
}
/* contact section style end */

/* media queries */
@media screen and (min-width: 768px) {
  header {
    justify-content: space-around;
  }

  .logo {
    width: 700px;
  }

  .logo a {
    width: 600px;
  }

  header nav {
    width: 650px;
  }

  .bio h3 {
    font-size: 30px;
  }

  .projects {
    padding-top: 40px;
    padding-bottom: 75px;
  }

  .projects h3 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .project-icon-1,
  .project-icon-2,
  .project-icon-3,
  .project-icon-4 {
    width: 40%;
    height: 150px;
    margin: 5px;
  }

  .featured-project {
    height: 200px;
  }

  .contact-info {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact-info h3 {
    font-size: 40px;
  }
}

@media screen and (min-width: 979px) {
  header {
    /* max-width: 90%; */
    margin: auto;
    justify-content: space-around;
    /* padding: 100px 0 100px 0; */
  }

  .logo {
    width: 500px;
  }

  .logo img {
    margin-top: auto;
    margin-bottom: auto;
    border: none;
  }

  header nav {
    width: 900px;
  }

  .navButton {
    padding: 20px;
    font-size: 2.5vw;
    margin: auto;
  }

  .about-me {
    justify-content: space-around;
    width: 900px;
    margin: auto;
  }

  .home-main {
    justify-content: space-around;
    width: 900px;
    margin: auto;
  }

  .bio {
    justify-content: space-around;
  }

  .bio-img img {
    width: 600px;
  }

  .home-img img {
    width: 900px;
  }

  .projects h3 {
    width: 900px;
    text-align: center;
    padding-bottom: 50px;
  }

  .contact-form {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin: auto;
    border-radius: 0 0 5px 5px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .footer-section address {
    width: fit-content;
    font-size: 20px;
  }
}
